
@font-face {
	font-family: 'Iosevka Gaussfff Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaGaussfff-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaGaussfff-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Gaussfff Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaGaussfff-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaGaussfff-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Gaussfff Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaGaussfff-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaGaussfff-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Gaussfff Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaGaussfff-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaGaussfff-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Gaussfff Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaGaussfff-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaGaussfff-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Gaussfff Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaGaussfff-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaGaussfff-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Gaussfff Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaGaussfff-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaGaussfff-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Gaussfff Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaGaussfff-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaGaussfff-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Gaussfff Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaGaussfff-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaGaussfff-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Gaussfff Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaGaussfff-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaGaussfff-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Gaussfff Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaGaussfff-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaGaussfff-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Gaussfff Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaGaussfff-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaGaussfff-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Gaussfff Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaGaussfff-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaGaussfff-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Gaussfff Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaGaussfff-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaGaussfff-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Gaussfff Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaGaussfff-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaGaussfff-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Gaussfff Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaGaussfff-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaGaussfff-ExtendedBoldItalic.ttf') format('truetype');
}
